/* https://pt.bcdn.biz/images/emails_source/7ba5ee36-211d-4028-8a6e-7c710778ee2c.jpg  montanha grande */

/* https://www.suapesquisa.com/uploads/site/156x133_kebnekaise_suecia.jpg  montanha pequena */

/* https://4.bp.blogspot.com/-D6Nl9bjEI7Y/UcOMy6Y7LSI/AAAAAAAAAH8/DZKjZisJKqU/s1600/Circulo+png4.png circulos png */

div
{
    margin-bottom: 30px;
}

.exemplo
{
    width: 300px;
    height: 300px;
    background-image: url(https://pt.bcdn.biz/images/emails_source/7ba5ee36-211d-4028-8a6e-7c710778ee2c.jpg);
    background-color: aqua;
}
#cover
{
    background-size: cover;
}
#contain
{
    background-size: contain;
}
#tamanho
{
    background-size: 150px;
}
#exemplo-x-y
{
    background-size: 200px 250px;
}
#exemplo-camadas
{
    background-image: url(https://4.bp.blogspot.com/-D6Nl9bjEI7Y/UcOMy6Y7LSI/AAAAAAAAAH8/DZKjZisJKqU/s1600/Circulo+png4.png), 
    url(https://pt.bcdn.biz/images/emails_source/7ba5ee36-211d-4028-8a6e-7c710778ee2c.jpg);
    background-size: contain, cover;
}
